<h1>Wecome to Public Courts Site!</h1>
<p>This app uses Rendr and talks to the Public Courts API</p>
<p>Check out all the available courts <a href="/courts">Courts</a> or <a href="/cities">Cities</a>.</p>